<div class="container">
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to "Home", root_path %></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Page_1", page_1_path %></li>
          <li><%= link_to "Page_2", page_2_path %></li>
        </ul>
      </li>
      <li><a href="page_2">Page 2</a></li>
      	<input type="text" name="search" placeholder="Search..">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "SignUp", new_user_registration_path, class: "glyphicon glyphicon-user" %></li>
      <li><%= link_to "Login", new_user_session_path, class: "glyphicon glyphicon-log-in" %></li>
    </ul>
  </div>
</nav>
</div>
